.presentation {
	margin: 0px 0 60px;
	max-height: calc(100vh - 120px);
	position: relative;
	&::after{
		content:'';
		position: absolute;
		left: -10%;
		top: 30%;
		width: 20%;
		height: 15%;
		background: rgba(231, 178, 38, 0.83);
		transform: matrix(0.99, -0.05, 0.14, 1, 0, 0);
		filter: blur(225px);
	}
	@media (max-width:$tablet){
		margin: 0 0 60px 0;
		

		
	}
	@media (max-width:$mobile){
		margin: 0px 0;

	}
	&__container {
		display: flex;
		gap: 20px;
		position: relative;
		@media (max-width:$tablet){
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 50%;
	}

	&__card {
		flex: 0 1 50%;
	}
	&__arrow {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		width: 165px;
		height: 165px;
		background: rgba(109, 91, 114, 0.4);
		box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 45px;
		animation: arrow 1.5s ease-in-out infinite backwards;
		@media (max-width:$tablet){
			display: none;
		}
		
	}
}
@keyframes arrow {
	0%{
		bottom: 0;
		opacity: 0.2;
	}
	100%{
		bottom: -30px;
		opacity: 1;
	}
}

.content-present {
margin-right: rem(30);
@media (max-width:$tablet){
	margin-right: rem(0);
}
	&__title {
		font-family: 'Oxanium';
		font-weight: 700;
		@include adaptiveValue("font-size", 75, 30);
		line-height: math.div(100,75);
		color: #F5FBF2;
		@include adaptiveValue("margin-bottom", 40, 30);
		span{
			color: $linkColor;
		}
		@media (max-width:$mobile){
			text-align: center;
		}

	}

	&__bottoms {
		display: flex;
		@include adaptiveValue("gap", 40, 20);
		flex-wrap: wrap;
		@include adaptiveValue("margin-bottom", 60, 20);
		@media (max-width: 1152px){
			flex-direction: column;
		}
		@media (max-width:$tablet){
			flex-wrap: nowrap;
			flex-direction: row;
		}

	}

	&__button {
		width: 250px;
		height: 72px;
		@include adaptiveValue("font-size", 28, 18);
		font-weight: 600;
		@media (max-width: 1152px){
			width: 100%;
		}
	}

	&__numbers {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	
}

.number {
	display: flex;
	flex-direction: column;
	@media (max-width:$tablet){
		margin:50px 0 70px;
	}


	&__bolt {
		font-family: 'Oxanium';
		font-weight: 700;
		font-size: rem(65);
		@include adaptiveValue("font-size", 65, 36);
		line-height: math.div(78,65);
	}

	&__regul {
		font-style: normal;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(35,24);
		color: #9B9E9A;
		@media (max-width: 1152px){
			font-size: 20px;
		}

	}
}


.card-present {
	position: relative;
	
	@media (max-width:$tablet){
		margin: 0 auto;
	}
	&__content {
		margin: 0 0 0 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		max-width: 550px;
		max-height: 570px;

		@media (max-width:$tablet){
			max-width: 100%;
			max-height: 400px;
		}
		@media (max-height:600px){
			max-height: 400px;
			max-width: 380px;
		}
	}

	&__image{
		flex: 0 1 100%;
		z-index: 0;
		height: 100%;
		position: relative;
		padding-bottom: 85%;


		img{
			position: absolute;
			width: 100%;
			max-height: 100%;
			object-fit: cover;
			transition: all 0.4s;
		}
		&:hover img{
			transform: scale(1.05);
		}
	}

	&__footer {
		flex: 0 1 100px;
		background: $mainColor;
	}
}
.top-card {
	position: absolute;
	width: 100%;
	z-index: 5;
	&__box{
		display: flex;
		justify-content: space-between;
		max-height: 100px;
		margin: 25px 20px;
		padding: 20px 40px;
		background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
		opacity: 0.95;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
		@media (max-width: 500px){
			padding: 10px 20px;
			margin: 30px 20px;
		}
	}
	&__item {
		font-family: 'Oxanium';
		display: flex;
		flex-direction: column;
	}

	&__small {
		font-weight: 500;
		letter-spacing: 0.08em;
		text-transform: capitalize;
		color: #E4DEE7;
		

	}

	&__big {
		font-weight: 700;
		font-size: 32px;
		@include adaptiveValue("font-size", 32, 22);
		line-height: math.div(40,32);
		color: #FFFFFF;

	}
}
.footer-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 140px;
	@media (max-width: 500px){
		height: 85px;
	}



	&__artist {
		font-family: 'Oxanium';
		font-weight: 600;
		@include adaptiveValue("font-size", 28, 18);
		line-height: math.div(35,28);
		letter-spacing: 0.07em;
		color: #16091B;
		@include adaptiveValue("margin-left", 40, 20);
		span{
			display: block;
			@include adaptiveValue("font-size", 24, 14);
			line-height: math.div(35,24);
			color: #594D5E;
			
		}
	}

	&__btn {
		width: 200px;
		@include adaptiveValue("margin-right", 40, 20);
		font-weight: 700;
		color: #000000;
		@media (max-width: 500px){
			max-width: 120px;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			padding: 10px 20px;
		}

	}
}
